*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{


            width: 100%;
}

.card{

        border: 1px solid #0466c8;
        border-radius: 10px;
        width: 100%;
}

.hero_perfil{

        margin-bottom: 10px;

}

.hero{

        width: 100%;
        height: 200px;
        background-image: url("../img/hero.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        

}

.perfil{

        padding-left: 10px;
        display: flex;
}



.perfil_img>img{

        width: 150px;
        height: 150px;
        background-position: center center;
        background-size: cover;
        border-radius: 150px;
        position: absolute;
        top: 130px;
        margin-left: 110px;
}


.perfil_info{

        margin-top: 90px;
        width: 35%;
        text-align: center;
}

.acerca_de{

        margin-top: 80px;
        width: 55%;


}

.titulo{
    color: #0466c8;
}

.experiencia, .educacion{

        padding: 10px;
        margin-top: 10px;
}

.experiencia_item, .educacion_item{

        display: flex;
        border: 1px solid #0466c8;
        margin-bottom: 10px;
        border-radius: 10px;

}

.experiencia_item_img, .educacion_item_img{

        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;


}

.experiencia_item_img>img, .educacion_item_img>img{

        width: 80px;
        height: 80px;
        border-radius: 10px;
}

.experiencia_item_info, .educacion_item_info{

        width: 80%;


}